*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}

.container {  
    align-items: center;
}
.card{
    border-radius: 3%;
    color: rgb(102, 101, 101);
    margin: 5%;
}

.btn{
    margin-left: 40px;
    color: rgb(23, 23, 23);
    width: 60%;
    padding: 1px;
    display: block;
    color: #fff;
    margin-top: 10px;
}
.totales{
    font-size: x-large;
    margin-left: 40%;
    
}

.seccion2{
    margin-top: 15px;
}

#colorfinal{
    height: 25px;
    width: 25px;
    background-color: #000;
    border-radius: 50%;
    display: inline-flex;
    flex-direction: column;
}

